@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*LOGO*/
.logo img{
    width: 100px;
    height: 100px;
    /* padding: 40px 0 0 30px; */
}

.menu{
    flex: 1;
    text-align: right;
    
}

.menu ul li{
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

.menu ul a li{
    color:#fff;
    font-family: 'Electrolize', sans-serif;
    font-weight: 20;
    font-size: 25px;
    margin:  0 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px 0 30px;
    background-color: rgba(0,0,0,0.1);
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.3), transparent);
}

/*ANIMACAO DO FUNDO - IMAGENS*/
.hero{
    background-image: url(Imagens/Capa/capa4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: animate 20s ease infinite;
    background-size: cover;
}

/*ANIMACAO*/
@keyframes animate{
    0%,100%{
        background-image: url(Imagens/Capa/capa6.jpg);
    }
    25%{
        background-image: url(Imagens/Capa/capa4.jpg);
    }
    75%{
        background-image: url(Imagens/Capa/capa7.jpg);
    }
}

.sub-headline{
    font-size: 2.5rem;
    font-family: 'Great Vibes', cursive;
    color: #fff;
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
   
}

.primeira-letra{
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    color:#000;
}

.icone-remedio img{
    width: 50px;
    height: 50px;
    margin: 0 1.6rem;
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: #000;
    position: relative;
}

.line-right::before,
.line-left::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
   
}

.line-right::before{
    border-right-color:#000;
    right: 0;
}

.line-left::before{
    border-left-color:#000;
    left: 0;
}

.headline-description h5{
    color:#000;
    font-size: 2.0rem;
    font-weight:300;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
    font-family: 'Electrolize', sans-serif;
}

/*Espaco - INFORMAÇÕES*/

/*espacamento*/
.titulo-info{
    text-align: center;
    margin-top: 3.9rem;
}

/* .espaco-info .titulo-info{
    margin-top: 6.0rem;
} */

/*SPMEDGROUP*/
.clinica-descricao span{
    font-family: 'Electrolize', sans-serif;
    font-size: 38px;
    font-weight: 60;
    /* float: left; */
    padding: 0  0  0 20px;
}

.clinica-descricao{
    margin-bottom: 3rem;
    display: block;
    flex-direction: column;
}

.clinica-descricao p{
    line-height:  1.6;
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: column;
}

/* .informacoes-img{
    float: right;
} */

/*IMAGENS*/
.container2{
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container2 .box{
    position: relative;
    width: 300px;
    height: 300px;
    background: #ff0;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.container2 .box .imgBox{
    position: relative;
    overflow: hidden;
}

.container2 .box .imgBox img{
    max-width: 100%;
    transition: transform 2s;
}

.container2 .box:hover .imgBox img{
    transform: scale(1.2);

}

.container2 .box .detalhes{
    position: absolute;
    top:10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.4);
    transform: scaleY(0);
    transition: transform .5s;
}

.content2 .box:hover .detalhes{
    transform: scaleY(1);
}

.container2 .box .detalhes .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color:#fff;
}

.container2 .box .detalhes .content h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color:#ff0;
}

.container2 .box .detalhes .content p{
    margin: 10px 0 0;
    padding: 0;
}

/*TAMANHO IMAGEM*/
.img1 img{
    width: 300px;
    height: 300px;
}

.nome-espaco h2{
    font-size: 38px;
    font-family: 'Electrolize', sans-serif;
    text-align: center;
}


/*Carousel*/

.blogs{
    width: 100%;
    margin: 250px auto 0;
    /* top: 50%; */
    display: flex;
    flex-direction: row;
    transform: translateY(-50%);
}

.blog{
    overflow: hidden;
    position: relative;
    height: 100%;
    cursor: pointer;
   
}

.blog img{
    width: 100%;
    height: 100%;
}

.blog-descricao{
    position: absolute;
    bottom: -40px;
    background: #333333ca;
    width: 100%;
    padding: 40px;
    transition: .3s linear;
}

.blog:hover .blog-descricao{
    bottom: 0;
}

.categoria{
    display: inline-block;
    color:#e77f67;
    font-size: 18px;
    position: relative;
    padding: 0 22px;
}

.categoria::before{
    content:'';
    position: absolute;
    width: 14px;
    height: 2px;
    background: #e77f67;
    left:0;
    top: 13px;
}

.categoria::after{
    content:'';
    position: absolute;
    width: 14px;
    height: 2px;
    background: #e77f67;
    right:0;
    top: 13px;
}

.title{
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
}

.date{
    font-style: italic;
    color: #e77f67;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    color: #e77f67;
    text-decoration: none;
    border: 1px solid #e77f67;
    padding: 6px 20px;
    opacity: 0;
    transition:  .3s linear;
}

.blog:hover .btn{
    opacity: 1;
}

.btn:hover{
    color:#fff;
    background: #e77f67;
}

.owl-stage{
    display: flex !important;
}